@{
    ViewBag.Title = "Relatórios";
    Layout = "~/Views/Shared/_LayoutGerencia.cshtml";
}

<h2>Relatórios</h2>
<hr />
<p></p>
<div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Posição de Vagas</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title"></h1>
            <p class="card-text">Estacionamento : @ViewBag.Estacionamento</p><br />
            <p class="card-tex">Vagas Ocupadas: <h3>@ViewBag.VagasOcupadas </h3></p>
            <p class="card-tex">Vagas Disponíveis: <h3>@ViewBag.VagasDisponiveis </h3></p>
            <p class="card-tex">Vagas Total: <h3>@ViewBag.VagasTotal </h3></p>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Adicionar Modelo</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title"></h1>
            <form method="post" action="@Url.Action("Semanal", "Gerencia")">
                <label>Selecione uma Data:</label><br />
                <input type="date" name="dataRelatorio" max="@ViewBag.DiaDeHoje" min="2019-01-01" class="form-control" required>
                <label for="incluiEstacionado">Incluir Carros Estacionados : </label>
                <input type="checkbox" name="incluiEstacionado" checked class="form-control form-check" />
                <button type="submit" id="controle_btn" name="relatorio_btn" value="relatorioSemanal" class="btn btn-lg btn-block btn-outline-success">Visualizar Relatório</button>
            </form>
        </div>
    </div>    
</div>
