@model IEnumerable<EstacionamentoEAI.Definition.Relatorio>
@{
    Layout = "";
    ViewBag.Title = $"Registro de Atividades entre {ViewBag.DataInicial} e {ViewBag.DataFinal}";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Relatorio.css" rel="stylesheet" />
    <meta http-equiv="content-type" content="text/html;">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="relatorio">
        <div class="pagina">
            <div class="conteudo">
                <h1>@ViewBag.Title</h1>
                <div class="tabela">
                    <div class="tabelaCabecalho">
                        <div class="tabelaRow">
                            <div class="tabelaCell">Dia</div>
                            <div class="tabelaCell">Total de Carros</div>
                            <div class="tabelaCell">Total de Carros Únicos</div>
                            <div class="tabelaCell">Total de Carros Repetidos</div>
                            <div class="tabelaCell">Receita</div>
                        </div>
                    </div>
                    <div class="tabelaCorpo">
                        @foreach (var item in Model)
                        {
                            <div class="tabelaRow">
                                <div class="tabelaCell">@item.Semana.DataInicial</div>
                                <div class="tabelaCell">@item.Veiculo.Placa</div>
                                <div class="tabelaCell">@item.Veiculo.Modelo.Marca.Nome</div>
                                <div class="tabelaCell">@item.Veiculo.Modelo.Nome</div>
                                <div class="tabelaCell">@item.DataDeEntrada</div>                                
                            </div>
                        }

                    </div>
                </div>

                @* Rodapé da Página de Relatórios*@
                <div class="rodape">
                    <h6 style=" width:163mm; border: 1px solid black; padding:1mm">
                        Amostra de relatório para a EAI Brasil - Desafio Estacionamento. <br />
                        Necessita implementar a paginação, não utilizada nesse cenário de desafio.
                    </h6>
                    <h6>
                        @ViewBag.Title
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <script>window.print();</script>
</body>
</html>
